
@model PayrollApp.Areas.PayrollAdmin.ViewModels.ChangePasswordViewModel









<link href="~/payrolladmin/css/holding.css" rel="stylesheet" />

<div class="Holding col-md-12">
    <div class="head-holding">
        <div class="row">

            <p> Şirkət</p>




        </div>

    </div>
    <form asp-action="ChangePassword">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="Email" />
        <div class="form-group">
            <label asp-for="NewPassword" class="control-label">Yeni Parol</label>
            <input type="text" asp-for="NewPassword" class="form-control holdingControl" />
        </div>
       
        <div class="form-group">
            <input type="submit" value="Yadda Saxla" class="btn btn-primary" /> |
            <a class=" btn listbtn" asp-controller="Account" asp-action="ListUsers">Geri Qayıt</a>
        </div>
    </form>


</div>