@model PayrollApp.ViewModels.SelectListItemViewModel



<div class="form-group workerInput">
    <label class="control-label">Holding</label>
   
    <select class="form-control holdingControl" id="holding_selectbox" asp-items="Model.SelectListHoldings" name="HoldingId" asp-for="Holding.Id">
        <option value=""></option>
    </select>
    <span asp-validation-for="Holding.Id" class="text-danger"></span>
</div>

