<div class="text-center">

    <h1 class="text-danger">Access Denied</h1>

    <h6 class="text-danger">Sizin Icazeniz yoxdur</h6>

    
    <img src="~/File/slough_the_link_403-01.jpg" style="height:300px; width:300px;"/>
</div>*