<div class="text-center">
    <div class="container">
        <div class="row">

            
            <img style="margin-left:-13rem;margin-top:-10rem;" src="~/File/ad3b151202adcc82aa1ca2dafa760a4f.gif" />
        </div>

    </div>
    
</div>