@using PayrollApp.Models.Employment
@using Microsoft.AspNetCore.Mvc.Rendering
@using PayrollApp.Models.Employment.Enum
@model Vacation




<div class="Holding col-md-12">
    <div class="head-holding">
        <div class="row">

            <p> Məzuniyyət Üzərində Dəyişiklikler </p>




        </div>

    </div>
    <form asp-action="EditVacation" method="post" asp-controller="Vacation">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Worker" class="control-label"></label>
            @{
                List<SelectListItem> bb = new List<SelectListItem>();
                foreach (Worker item in ViewBag.Workers)
                {
                    bb.Add(new SelectListItem
                    {
                        Text = item.Employee.Name,

                        Value = item.Id.ToString()
                    });
                }
            }
            <select asp-for="WorkerId" class="form-control holdingControl" asp-items="bb"></select>
            <span asp-validation-for="Worker" class="text-danger"></span>
        </div>





        <div class="form-group">
            <label asp-for="WorkerVacation" class="control-label"></label>
            <select asp-for="WorkerVacation " class="form-control holdingControl" asp-items="Html.GetEnumSelectList<WorkerVacation>()"></select>

        </div>

        <div class="form-group">
            <label asp-for="StartDate" class="control-label"></label>
            <input asp-for="StartDate" class="form-control holdingControl" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="control-label"></label>
            <input asp-for="EndDate" class="form-control holdingControl" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>



</div>



















